html,
body {
    height: 100%;
}

body {
    background-image: url('../img/bg.png');
}

#wrap {
    height: auto !important;
    margin: 0 auto -50px;
    min-height: 100%;
}

#main {
    padding-top: 50px;
}

#push,
#footer {
    height: 50px;
}

#footer {
    background-color: #f7f7f7;
}

#credit {
    margin: 15px 0;
}