html,
body {
    height: 100%;
}

body {
    background-image: url('../img/bg.png');
}

#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#main {
    padding-top: 60px;
}

#push,
#footer {
    height: 60px;
}

#credit {
    margin: 20px 0;
}