html,
body {
    height: 100%;
}

body {
    background-image: url('../img/bg.png');
}

section {
    margin-bottom: 50px;
}

.github {
    color: #333333;
    margin-top: 11px;
}

.github:hover {
    text-decoration: none;
}

.icon-github {
    transform: scale(1.8, 1.8);
}

#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#main {
    padding-top: 60px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
}

#main ul li {
    line-height: 25px;
}

.nav-header {
    font-size: 12px;
}

.page-header {
    border-bottom: 1px solid #dddddd;
    margin: 30px 0 15px;
}

.page-header h3 {
    line-height: 30px;
    margin: 0;
}

#push,
#footer {
    height: 60px;
}

#footer p {
    margin-top: 10px;
}

#credit {
    text-align: right;
}